// .grid-collapse { 
// 	padding: 0 0 0 0 !important;
// }

#main { 
	overflow-x: hidden; 
}

#main > .grid-content { 
	padding-left: 0;
	padding-right: 0;  
}

@import "settings";
@import "foundation";


//Site Components
@import "components/backgrounds";
@import "components/circular-images";
@import "components/logo";
@import "components/mission";
@import "components/modals";
@import "components/nav-sidebar";
@import "components/sections";
@import "components/site-nav";
@import "components/type";

//Page Specific Styles
@import "components/approach";
@import "components/about";
@import "components/capabilities";
@import "components/work";
