.site-nav-container { 
	position: absolute;
	width: 100%; 
	top: 50%; 
	margin-top: -157px; 
}

.site-nav { 
	margin-bottom: 0; 
	list-style: none; 
	margin-left: 0; 
	.nav-item { 
		font-size: rem-calc(13);
		text-transform: uppercase; 
		line-height: rem-calc(30);
		text-align: center;  
	}
	.nav-item a { 
		color: $gray;
		font-weight: 600;
	}

	.nav-item a:hover {
		color: $gray-dark;
	} 

	.nav-item a:active {
		color: darken($gray-dark, 20%);
	} 

	.nav-item.active a { 
		color: $secondary-color; 
	}
}