---
name: approach
url: /approach
animationOut: fadeOut
---

<div class="approach-wrapper grid-block vertical">
	<div class="approach-item process-section">
		<div class="grid-container">
			<div class="grid-block">
				<div class="approach__uncertainty grid-content">
					<h1 class="section-heading heading__uncertainty">Uncertainty sparks creativity</h1>
					<p class="lead">My approach will help you break down complex problems and get you over humps.</p>		
					<div class="process-outer grid-block small-12 medium-up-6 align-center">
						<div class="process__learn grid-block small-12">
							<div class="grid-content">
								<div class="process-image-outer process__learn">
									<img src="assets/img/icon-learn.svg" alt="Learn" class="process-image-inner process-img__learn">
								</div>
								<h4 class="process__heading">Learn</h4>
								<p class="process__desc">Opportunities will emerge as I synthesize market and customer information, while learning about your technology.</p>
							</div>
						</div>
						<div class="process__hypothesize grid-block small-12">
							<div class="grid-content">
								<div class="process-image-outer process__hypothesize">
									<img src="assets/img/icon-hypothesize.svg" alt="Hypothesize" class="process-image-inner process-img__hypothesize">
								</div>
								<h4 class="process__heading">Hypothesize</h4>
								<p class="process__desc">Hypotheses and concepts will be created to learn from the market.</p>		
							</div>			
						</div>
						<div class="process__experiment grid-block small-12">
							<div class="grid-content">
								<div class="process-image-outer process__experiment">
									<img src="assets/img/icon-experiment.svg" alt="Experiment" class="process-image-inner process process-img__experiment">
								</div>
								<h4 class="process__heading">Experiment</h4>
								<p class="process__desc">Prototypes will be validated with customer research.</p>		
							</div>				
						</div>
						<div class="process__build grid-block small-12">
							<div class="grid-content">
								<div class="process-image-outer process__build">
									<img src="assets/img/icon-build.svg" alt="Build" class="process-image-inner process-img__build">
								</div>
								<h4 class="process__heading">Build</h4>
								<p class="process__desc">Solutions will be developed after rigorous prototyping and testing.</p>		
							</div>					
						</div>
						<div class="process__measure grid-block small-12">
							<div class="grid-content">
								<div class="process-image-outer process__measure">
									<img src="assets/img/icon-measure.svg" alt="Measure" class="process-image-inner process-img__measure">
								</div>
								<h4 class="process__heading">Measure</h4>
								<p class="process__desc">Insights from customer and market data will emerge to guide the next product iteration.</p>
							</div>	
						</div>
					</div>
				</div>
			</div>
			<img src="assets/img/angle-entrepreneurial-top.svg" alt="angle" class="entrepreneurial-section--angle-top-image">
		</div>
	</div>
	<div class="approach-item entrepreneurial-section">
		<div class="grid-container">
			<div class="grid-block">			
				<div class="entrepreneurial-section-inner grid-content">
					<h1 class="section-heading">Design is an entrepreneurial activity</h1>
					<p class="lead">I validate ideas efficiently and effectively by putting them in front of customers early and often to make educated decisions.</p>
					<div class="entrepreneurial-outer grid-block">
						<div class="entrepreneurial-image-outer grid-block medium-6">
							<div class="entrepreneurial-image-inner grid-content text-center">
								<img src="assets/img/icon-entrepreneurial.svg" alt="Design is an entrepreneurial activity" class="entrepreneurial__image">
							</div>
						</div>
						<div class="grid-block medium-6 v-align">
							<div class="grid-content">
								<p class="approach__desc">The number one reason why new ideas fail is because entrepreneurs ignore their customers. To truly innovate, I get your product in front of your customers and validate market need. Rapid prototyping and customer development is how I get to answers and get there quickly.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="approach-item experience-section">	
		<img src="assets/img/angle-entrepreneurial-bottom.svg" alt="angle" class="entrepreneurial-section--angle-bottom-image">				
		<div class="grid-container">
			<div class="grid-block">
				<div class="experience__section-inner grid-content">	
					<h1 class="section-heading heading__experience">Build for the experience, not the device</h1>
					<p class="lead">On March 2015, mobile web internet usage surpassed desktop web usage.</p>
					<div class="experience-outer grid-block">
						<div class="experience-image-outer grid-block medium-6 medium-order-2">
							<div class="experience-image-inner grid-content text-center">
								<img src="assets/img/icon-experience.svg" alt="Build for the experience, not the device" class="experience__image">
							</div>
						</div>
						<div class="grid-block medium-6 medium-order-1 v-align">
							<div class="grid-content">
								<p class="approach__desc">I put myself at the responsive forefront by developing web apps using responsive frameworks. My experience building and maintaining responsive websites helps me spearhead mobile-first practices on every project.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	

</div>
