---
name: capabilities
url: /capabilities
animationOut: fadeOut
---

<div class="capability-wrapper">

	<div class="capability-item strategy-section">
		<div class="grid-container">
			<div class="grid-block">
				<div class="grid-block medium-5">
					<div class="capability-image-container grid-content v-align">
						<div class="capability-image capability__strategy">
							<img src="assets/img/icon-strategy.svg" alt="Insights & Strategy" class="capability-image-inner capability-img__strategy">
						</div>
					</div>
				</div>
				<div class="capability-item-desc grid-block medium-7">
					<div class="grid-content">
						<h4 class="capability__heading">Insights and strategy</h4>
						<p class="capability__desc">I use human-centered research to generate new insights and a deep understanding of users, behaviors, trends, and markets. I use business and design strategy to frame critical decisions, model scenarios and outcomes, drive alignment, and ensure the efficacy of my recommendations.</p>
						<dl class="skills-list">
						  <dt>Skills Include</dt>
						  <dd>Market and Customer Research</dd>
						  <dd>Product Experience Audits</dd>
						  <dd>Competitive Landscape Audits</dd>
						  <dd>Web Analytics</dd>
						  <dd>Post-Launch Analysis</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<img src="assets/img/angle-capability-top.svg" alt="angle" class="capability-design-section--angle-top-image">			
	</div>

	<div class="capability-item design-section">
		<div class="grid-container">
			<div class="grid-block">
				<div class="grid-block medium-5 medium-order-2">
					<div class="capability-image-container grid-content v-align">
						<div class="capability-image capability__design">
							<img src="assets/img/icon-design.svg" alt="Digital design" class="capability-image-inner capability-img__design">
						</div>
					</div>
				</div>
				<div class="capability-item-desc grid-block medium-7 medium-order-1">
					<div class="grid-content">
						<h4 class="capability__heading">Digital design</h4>
						<p class="capability__desc">I use a combination of deep design thinking and expert craftsmanship across multiple, integrated design disciplines to create and deliver exceptional products, services, and experiences that create lasting business value and shape positive outcomes for users and society.</p>
						<dl class="skills-list">
						  <dt>Skills Include</dt>
						  <dd>Storyboarding</dd>
						  <dd>Opportunity Assessments</dd>
						  <dd>Prototyping</dd>
						  <dd>Creative Direction</dd>
						  <dd>Visual Design</dd>
						</dl>		
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="capability-item frontend-section">
		<img src="assets/img/angle-capability-bottom.svg" alt="angle" class="capability-design-section--angle-bottom-image">
		<div class="grid-container">
			<div class="grid-block">
				<div class="grid-block medium-5">
					<div class="capability-image-container grid-content v-align">
						<div class="capability-image capability__code">
							<img src="assets/img/icon-code.svg" alt="Front-end engineering" class="capability-image-inner capability-img__code">
						</div>
					</div>
				</div>
				<div class="capability-item-desc grid-block medium-7">
					<div class="grid-content">
						<h4 class="capability__heading">Front-end engineering</h4>
						<p class="capability__desc">I use technology to inspire and realize ideas from the very beginning. My software development expertise and process of prototyping ensure a seamless transition from concept to prototype to product across multiple platforms.</p>
						<dl class="skills-list">
						  <dt>Skills Include</dt>
						  <dd>HTML</dd>
						  <dd>Scss/SASS</dd>
						  <dd>Javascript</dd>
						  <dd>Foundation and Bootstrap</dd>
						  <dd>Familiarity with PHP, RoR and Angular frameworks</dd>
						</dl>	
					</div>
				</div>
			</div>
		</div>
	</div>

</div>